* {
    box-sizing: border-box;
}

section{
    width:100%;
}

/* Primeira Section (Imagens e Textos) */

article {
    margin: 70px;
}

/* Títulos da Página (Títulos dos Textos e do Cadastro) */

.titulo {
    font-family: 'Poppins', sans-serif;
    color: #6C63FF;
}

/* Texto da Primeira Section */

.body-text-p {
    font-size: 1.1rem;
    font: sans-serif bold;
    color: grey;
    text-align: justify;
    line-height: 30px;
    font-family: 'Baloo Da 2', cursive;
    margin: 30px 0 30px 0;
}

/* Imagens da Primeira Section */

.img{
    height: 200px;
    display: block;
    align-self: center;
}

/* Div que Contém os Botões da Primeira Section */

.div-botao-section{
    margin-bottom:5%;
}

/* Botões das Sections (Textos e Formulário de Cadastro)*/

.botao {
    color: white;
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #00B0FF;
    font-family: 'Baloo Da 2', cursive;
}


.botao:hover {
    background-color: rgb(96, 195, 171);
    text-decoration: none;
    color: white;
}

/* Segunda Section */

.form {
    background-color: white;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

/* Botão Voltar Ao Topo */

#botaotop {
    background: #4AE894;
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    position: fixed;
    border: 0;
    border-radius: 50%;
}

#botaotop:hover {
    opacity: .5;
}

/* Seta do Botão Voltar Ao Topo */

.setaTopo{
    font-weight: bold;
    font-size:1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.images-places{
    margin-top: 10%;
    margin-bottom: 10%;
    width:80%;
}

.backgroundPage{
    background: #c3c3c3
}

.botao-lista{
    margin-top:20%;
}

.centraliza{
    align-items: center;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}

/* Media Querys Para Responsividade */

@media(max-width: 1680px) {
    html{
        font-size: 16px;
    }
}

@media(max-width: 1024px) {
    html{
        font-size: 13px;
    }
}

/* BreakPoint Para Ocultar a Imagem do Banner */
@media(max-width: 992px) {
    #imagem-principal {
        display: none;
    }
}

@media(max-width: 768px) {
    html{
        font-size: 13px;
    }
}

@media(max-width: 480px) {
    html{
        font-size: 11.5px;
    }
}