* {
    box-sizing: border-box;
}

section{
    width:100%;
}

article {
    margin: 70px;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    color: #6C63FF;
}

.body-text-p {
    font-size: 1.1rem;
    font: sans-serif bold;
    color: grey;
    text-align: justify;
    line-height: 30px;
    font-family: 'Baloo Da 2', cursive;
    margin: 30px 0 30px 0;
}

.titulo-grafico{
    font-size: 1.7rem;
    font: sans-serif bold;
    color: black;
    text-align: justify;
    line-height: 30px;
    font-family: 'Baloo Da 2', cursive;
    margin: 30px 0 30px 0;
}

.img{
    height: 200px;
    display: block;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imgNoMargin{
    height: 200px;
    display: block;
    align-self: center;
}


.div-botao-section{
    margin-bottom:5%;
}

.botao {
    color: white;
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #00B0FF;
    font-family: 'Baloo Da 2', cursive;
}

.botaoMargin {
    color: white;
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #00B0FF;
    font-family: 'Baloo Da 2', cursive;
    margin-right: 30;
    margin-left: 30;
}

.botao:hover {
    background-color: rgb(96, 195, 171);
    text-decoration: none;
    color: white;
}

.form {
    background-color: white;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

#botaotop {
    background: #4AE894;
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    position: fixed;
    border: 0;
    border-radius: 50%;
}

#botaotop:hover {
    opacity: .5;
}

.setaTopo{
    font-weight: bold;
    font-size:1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.images-places{
    margin-top: 10%;
    margin-bottom: 10%;
    width:80%;
}

.backgroundPage{
    background: #c3c3c3
}

#botao-lista {
    color: white;
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #00B0FF;
    font-family: 'Baloo Da 2', cursive;
    vertical-align: middle;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    align-self: center;
}

#botao-lista:hover {
    background-color: rgb(96, 195, 171);
    text-decoration: none;
    color: white;
}

.centraliza{
    vertical-align: middle;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    align-self: center;
}

.centralizaBet{
    justify-content: space-between;
}

.textSuplies{
    font-size: 1.1rem;
    font: sans-serif bold;
    color: grey;
    text-align: justify;
    line-height: 30px;
    font-family: 'Baloo Da 2', cursive;
}
.textSupliesBold{
    font-size: 1.1rem;
    font: sans-serif bold;
    color: grey;
    text-align: justify;
    line-height: 30px;
    font-family: 'Baloo Da 2', cursive;
    font-weight: bold;
}

#home{
    width:3rem;
}

@media(max-width: 1680px) {
    html{
        font-size: 16px;
    }
}

@media(max-width: 1024px) {
    html{
        font-size: 13px;
    }
}

@media(max-width: 992px) {
    #imagem-principal {
        display: none;
    }
}

@media(max-width: 768px) {
    html{
        font-size: 13px;
    }
}

@media(max-width: 480px) {
    html{
        font-size: 11.5px;
    }
}